<!DOCTYPE html>
<html>
    <head>
        <title>Jay Zhou</title>
        <link rel="stylesheet" href="/assets/css/404.css">
        <%- include('partials/common.ejs') %>
    </head>
    <body>
        <%- include('partials/nav.ejs') %>

        <h1>Vorple glorp gleep 404 glorp.??</h1>
        <h4>(How did you end up on this 404 page?)</h4>
        <h3>zeep binted zorple veeple glorble gleeby blork bogos.</h3>
        <h4>(click this button to go back to the main page)</h4>

        <a href="/">Blork gorble!</a>

        <%- include('partials/footer.ejs') %>
        
        <script src="/assets/js/homepage.js" type="module"></script>
    </body>
</html>