<!DOCTYPE html>
<html>
    <head>
        <title>Jay Zhou</title>
        <link rel="stylesheet" href="/assets/css/gallery.css">
        <%- include('partials/common.ejs') %>
    </head>
    <body>
        <%- include('partials/nav.ejs') %>

        <h1>Gallery</h1>

        <div id="gallery"></div>
        
        <%- include('partials/footer.ejs') %>

        <script src="/assets/js/gallery.js" type="module"></script>
    </body>
</html>