body {
    margin: 0;
}

hr {
    background-color: rgba(0,0,0,0.2);
    height: 1px;
    width: 50%;
}


/* Colors */

.white {
    color: white
}

.dark-grey {
    color: #424242;
}

.blue {
    color: #0074C7
}

.red-background {
    background-color: #FF4E4E;
}

/* Display Type */

.inline-block {
    display: inline-block;
}

/* Font */

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 15px;
}

h1, .largest {
    font-size: 96px;
}

h2, .large {
    font-size: 64px;
}

h3, .medium {
    font-size: 48px;
}

h4, .small {
    font-size: 32px;
}

h5, .smaller {
    font-size: 24px;
}

@media (max-width: 1600px) {
    h1, .largest {
        font-size: 64px;
    }

    h2, .large {
        font-size: 48px;
    }

    h3, .medium {
        font-size: 36px;
    }

    h4, .small {
        font-size: 32px;
    }

    h5, .smaller {
        font-size: 24px;
    }
}

b, .bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 800;
}

.black {
    font-weight: 900;
}

/* Alignment */

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}