#introduction {
	justify-content: space-around;
	align-items: center;
	height: 75vh;
	margin-top: 15vh;
}

#introduction > div:nth-child(1) {
	height: 80%;
	width: 40%;
}

#introduction > div:nth-child(1) > div {
	position: absolute;
}

#message-of-the-day, #title-of-the-day {
	width: 100%;
}

#introduction > div:nth-child(2) {
	display: flex;
	width: 30%;
	justify-content: flex-end;
}

#introduction > div:nth-child(2) > img {
	box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.2);
	width: 75%;
}

* {
	/* background-color: rgba(0,255,0,0.1); */
}