#introduction {
	justify-content: space-around;
	align-items: center;
	height: 90vh;
}

#introduction > div:nth-child(1) {
	height: 80%;
	width: 40%;
}

#introduction > div:nth-child(1) > div {
	position: absolute;
}

#message-of-the-day, #title-of-the-day {
	width: 100%;
}

#introduction > div:nth-child(2) {
	display: flex;
	/* width: 30%; */
	height: 80%;
	/* justify-content: flex-start; */
}

#introduction > div:nth-child(2) > img {
	box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.2);
	height: 100%;
}

@media only screen and (max-width: 1000px) {
	#introduction {
		flex-direction: column;
		justify-content: center;
		height: auto;
		padding-top: 50px;
	}

	#introduction > div:nth-child(1) {
		display: inline;
		min-height: 30%;
		height: auto;
		width: 80%;
		flex-shrink: 1;
	}

	#introduction > div:nth-child(2) {
		display: flex;
		height: auto;
		width: 80%;
	}

	#introduction > div:nth-child(2) > img {
		width: 100%;
		height: auto;
	}
}

#school-progress-bar {
	align-items: center;
}

#school-progress-bar > h1 {
	text-align: center;
}

#school-progress-bar > div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Courier New";
	font-size: 2rem;
	height: 10vh;
	margin: 100px;
	margin-top: 0;
	width: 80%;
	background-color: white;
}

* {
	/* background-color: rgba(0,255,0,0.1); */
}