#projects > .dropdown {
    width: 50vw;
}

.dropdown {
    margin-left: 30px; 
    /* background-color: rgba(0, 0, 255, 0.202); */
}

.dropdown h3 {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    height: 2rem;
}

.dropdown::before {
    content: "⭢";
    width: 50px;
    display: inline-block;
    font-size: 40px;
}

.dropdown > div {
    display: none;
    width: 100%;
}

.dropdown.selecting > div {
    display: block;
    border-left: solid rgba(255, 176, 91, 0.4) 5px;
}

.dropdown.selecting::before {
    content: "⭣";
}

.dropdown-content::before {
    content: "•";
    width: 50px;
    margin-left: 30px;
}

.dropdown-content {
    color: black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    height: 100px;
    text-decoration: none;
    transition: text-shadow 0.5s;
}

.dropdown-content:hover {
    text-shadow: 0 0 15px rgba(0,0,0,0.7);
}

#projects {
    display: inline-block;
}